
.flex_33 {
  width: 33%;
  padding: 3%;
}


.choice {
  border-radius: 5px;
}

.correct_selected {
  border: 10px solid blue;
}

.correct {
  border: 10px solid green;
}

.incorrect_selected {
  border: 10px solid red;
}



